.c-bg{
    margin-left: 300px;
    background-color: #f4f4f4;
    width: calc(100% - 300px);
    padding: 0 2.5vw 100px;
    position: relative;

    overflow: hidden;
    @include mq('la'){
        margin-left: 0;
        width: 100%;
    }
    &::before{
        content: "";
        position: absolute;
        top: 20px;
        right: -20px;
        background: url(../assets/images/mv/logo-bg.svg);
        background-repeat: no-repeat;
        width: 50%;
        height: 100%;
        opacity: .1;
    }
}