.c-sidebar{
    background: #EFF2E0;
    width: 240px;
    padding: 60px 20px 40px;
    @include mq('la'){
        display: none;
    }
    &__title{
        font-size: 2.4rem;
        text-align: center;
    }
    &__list{
        display: block;
    }
    &__item{
        margin-top: 20px;
        img{
            border-radius: 4px;
        }
    }
    &__btn{
        width: 100%;
        margin-top: 40px;
    }
}