.l-mv{
    padding: 40px 90px 40px 50px;
    height: 768px;
    background-image: url("../assets/images/mv/mv.svg");
    background-size: cover;
    position: relative;
    @include mq('la'){
        position: static;
        padding: 0px 20px 70px 20px;
    }
}
