.p-about{
    &__copy{
        margin-top: 80px;
        &Main{
            font-size: 3.6rem;
            font-weight: 500;
            text-align: center;
            }
        &Sub{
            font-size: 1.8rem;
            text-align: center;
            margin-top: 14px;
        }

    }
    &__box{
        margin-top: 40px;
        background-color: #fff;
        padding: 30px 60px;
        border-radius: 4px;
        &--m100{
            margin-top: 100px;
        }
        &Title{
            font-size: 3.2rem;
            padding-left: 30px;
            position: relative;
        &::before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 100%;
            background-image: url(../assets/images/mv/logo-sub.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            bottom: 1px;
        }
        }
        &Text{
            line-height: 2;
            margin-top: 14px;
        }
    }
}