.p-cp{
    padding: 15px 13px 111px 13px;
    margin: 0 auto;
    @include mq('la'){
        padding: 40px 40px 45px 40px;
    }
    &__title{
        font-size: 24px;
        margin-bottom: 15px;
        text-align: center;
    }
    &__menu{
        margin-bottom: 24px;
    }
    &__menuItem{
        font-size: 24px;
        color: $white;
        width: 260px;
        height: 60px;
        line-height: 60px;
        background-color: $c-green;
        border-radius: 4px;
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
        position: relative;
        padding: 0 12px;
        margin: 0 auto 12px auto;
        z-index: 1;
        @include mq('la'){
            width: 300px;
            padding: 0px 30px;
        }
        @include mq('sm'){
            width: 295px;
        }
        @include mq('mini'){
            width: 250px;
        }
        &01::after{
            display: inline-block;
            content: '';
            background-image: url("../assets/images/icon/cp-area.svg");
            background-size: contain;
            width: 45px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 25px;
            z-index: 5;
        }
        &02::after{
            display: inline-block;
            content: '';
            background-image: url("../assets/images/icon/cp-traffic.svg");
            background-size: contain;
            width: 35px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 25px;
            z-index: 5;
        }
        &03::after{
            display: inline-block;
            content: '';
            background-image: url("../assets/images/icon/cp-service.svg");
            background-size: contain;
            width: 30px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 25px;
            z-index: 5;
        }
        & + .p-cp__menuItem{
            margin-top: 10px;
        }
    }
    &__custom{
        margin-bottom: 20px;
        &Title{
            font-size: 18px;
            margin-bottom: 23px;
            text-align: center;
        }
        &Search{
            display: block;
            width: 260px;
            height: 32px;
            background-color: $white;
            border-radius: 4px;
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
            margin: 0 auto 12px auto;
            &::placeholder{
                color: transparent;
                width: 295px;
            }
        }
        &Button{
            font-size: 20px;
            width: 100px;
            height: 44px;
            color: $white;
            line-height: 44px;
            text-align: center;
            background-color: $c-black;
            border-radius: 50px;
            filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
            display: block;
            margin: 0 auto;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        @include mq('la'){
            width: 100%;
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 0;
            z-index: 10;
        }
    }
    &__btn{
        background-color: $white;
        border-radius: 4px;
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
        width: 130px;
        padding: 20px 20px 10px 20px;
        @include mq('la'){
            filter: none;
            width: 100%;
            border-radius: 0;
            padding: 20px 20px 30px 20px;
        }
        a{
            // text-align: center;
            // position: relative;
            // display: block;
            // padding-top: 45px;
            // font-size: 16px;
            width: 123px;
            height: 120px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            letter-spacing: 0.025em;
            padding-top: 58px;
            box-sizing: border-box;
            overflow: hidden;
            background: #fff;
            border: 2px solid #000;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);
        }
        &01{
            &::before{
                // background-image: url("../assets/images/icon/satei_or.svg");
                // display: inline-block;
                // content: '';
                // width: 38px;
                // position: absolute;
                // top: 0;
                // left: 55%;
                // transform: translateX(-50%);
                // -webkit-transform: translateX(-50%);
                // -ms-transform: translateX(-50%);
                // z-index: 5;
                // height: 100%;
                // background-size: contain;
                // background-repeat: no-repeat;
                content: "";
                display: block;
                position: absolute;
                width: 34px;
                height: 26px;
                left: 0;
                right: 0;
                top: 47px;
                margin: auto;
                background: url(../assets/images/icon/satei_or.svg);
                background-size: cover;
                @include mq('la'){
                    left: 51%;
                }
            }    
        }
        &02{
            &::before{
                background-image: url("../assets/images/icon/heart-pi.svg");
                display: inline-block;
                content: '';
                width: 38px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                z-index: 5;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
            }    
        }
    }
    &__sns{
        display: flex;
        justify-content: space-between;
        @include mq('la'){
            display: none;
        }
        &Item{
            img{
                width: 27px;
            }
        }    
    }
}