.p-top{
    &__box{
        margin-top: 20px;
        margin-bottom: 0;
        display: none;
    }
    &__btn{
        width: 45%;
        height: 45px;
        padding: 0;
    }
    a{
        &::before{
            width: 30px;
            top: 7px;
        }
    }
    &__info{
        &Item{
            &__box{
                margin-top: 20px;
            }
            &__btn{
                width: 48%;
                height: 45px;
                &::before{
                    width: 30px;
                    top: 7px;
                }        
            }
        }
    }
}